* {
  margin:0;
  padding:0;
  } /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  margin: 0px;

  } /* just to be sure these are full screen*/

#area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#myCanvas {
  width: 100%;
  height: 80%;
  border: 1px solid #000;
}

#buttons {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background: #8BD7FF;
  margin: 0 auto;

}

#zahl {
  width: 80px;
  height: 20px;
}

form {
  margin: 3% 5%;
}
